@import '../sassy';

.systeminfo {
    .asideLeft {
        flex-basis: 40%;
    }
    .asideRight {
        flex-basis: 60%;
    }
}

.memory {

    @include inline-flex(column);
    width: 100%;

    .details { @include flex(row, space-between, center); }

}

.storage {

    @include inline-flex(column);
    width: 100%;

    .group {
        @include flex(row, space-between, center);
        padding: 1rem;
        border: 1px solid rgb(211, 211, 211);
        margin: 1rem 0px;
        border-radius: 10px;
        transition: box-shadow 0.25s;

        &:first-of-type { margin-top: 0px; }
        &:last-of-type { margin-bottom: 0px; }

        &:hover {
            box-shadow: 0px 5px 10px rgba(#000, 0.23);
        }

        .name { flex-basis: 25%; }
        .type { flex-basis: 25%; }
        .size { flex-basis: 25%; }
        .bar { flex-basis: 25%; }
    
        .name {
            margin-right: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .size {
            @include flex(row, flex-end, center);
            padding-right: 1rem;
        }


    }

}

.network {

    width: 100%;

    .group {

        @include flex(column);
        padding: 1rem;
        border: 1px solid rgb(211, 211, 211);
        margin: 1rem 0px;
        border-radius: 10px;
        transition: box-shadow 0.25s;

        &:first-of-type { margin-top: 0px; }
        &:last-of-type { margin-bottom: 0px; }

        .name { margin-right: 1rem; }

        .details {
            @include flex(row, flex-start, center);
            width: 100%;
            & > * { flex: 1; }
        }

        .stat {
            white-space: nowrap;
            span {
                font-size: 0.80rem;
            }
        }

    }

}